@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';
@import '../../../assets/styles/fonts.scss';

.container {
  display: flex;
  flex-direction: column;
  height: 960px;
  background-image: url('../../../assets/images/africa_countries/order_africa.jpg');
  background-size: cover;
  background-repeat: no-repeat; /* чтобы изображение не повторялось */
  background-position: center; /* чтобы изображение было центрировано */

  .order {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 547px;
    height: 497px;
    padding: 40px;
    top: 80px;
    left: 80px;
    background: rgba(90, 89, 88, 0.25);
    backdrop-filter: blur(15px); /* Размытие */
    -webkit-backdrop-filter: blur(15px);
    &__block {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
    &__title {
      @include fontDescription;
      font-size: 25px;
      color: $colorWhite;
    }
    &__name {
      @include fontH1;
      font-size: 35px;
      text-transform: uppercase;
      color: $colorWhite;
    }
    &__inputs {
      display: flex;
      flex-direction: column;
      &_row {
        display: flex;
        gap: 12px;
      }
    }
    &__empty {
      height: 20px;
    }
  }


  input {
    border: none;
    border-bottom: 0.5px solid $colorWhite;
    margin-bottom: 30px; 
    background-color: transparent;
    color: $colorWhite;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: $colorWhite;
      font-size: 75%;
    }
  }

  .checkbox {
    margin-bottom: 20px; 
  }
}

.submittedMessage {
  @include fontH3;
  text-transform: uppercase;
  width: 553px;
  height: 279px;
  top: 332px;
  left: 444px;
}

// Добавленные стили для модального окна
.modal {
  position: fixed;
  top: 40%;
  left: 35%;
  // transform: translate(-50%, -50%);
  background: rgba(90, 89, 88, 0.25);
  backdrop-filter: blur(15px); /* Размытие */
  -webkit-backdrop-filter: blur(15px);
  width: 553px;
  height: 297px;
  border-radius: 10px;
  padding: 20px 40px;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__title {
    @include fontH3;
    color: $colorWhite;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    @include fontText;
    color: $colorWhite;
    text-align: center;
  }
  &__moto {
    @include fontH6;
    color: $colorWhite;
    text-transform: uppercase;
    text-align: center;
  }
  &__img {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    padding: 0 10px;
  }
}

.errorModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Убедитесь, что модальное окно находится поверх других элементов
}

.errorModal__title {
  padding-top: 20px;
  @include fontTextMenu;
  font-size: 14px;
  color: rgba(236, 12, 12, 1);
}