@import '../../../assets/styles/variables.scss';

.impressionsList {
  position: relative; /* Добавляем позиционирование */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 50px;
  background-color: $colorLight;
  padding: 172px 0;
  overflow: hidden; /* Добавляем скрытие переполнения, чтобы кнопки не выходили за пределы блока */
}

.image {
    width: 50.5%; /* 50.5% */
    height: auto;
    // margin-left: 134px;
    // margin-top: 172px;
}

.text {
    // margin-left: 53px;
    // margin-top: 172px;
}

.symbol {
    @include fontAGTms;
    @include fontStyle(118px, 400, 118px);
    letter-spacing: 2%;
}

.impression {
    @include fontH2;
    width: 436px;
    height: 176px;
    font-size: 30px;
    color: #464E4D;
    text-transform: uppercase;

}

.signature {
    @include fontH3;
    text-transform: uppercase;
    margin-top: 80px;
}

.controls {
  position: absolute;
  bottom: 80px; /* Выберите желаемое расстояние от нижнего края */
  right: 100px; /* Выберите желаемое расстояние от правого края */
}

.controlButton {
  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid #fff; /* Добавляем белую обводку */
  font-size: 60px;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  cursor: pointer;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.right {
  align-self: flex-end;
}

/* Адаптивные стили */
@media (max-width: 768px) {
  .impressionsList {
    height: auto;
  }
}

.fadeIn {
  animation: fadeIn 0.5s;
}

.fadeOut {
  animation: fadeOut 0.5s;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}