@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';

.order {
  display: flex;
  flex-direction: column;
  gap: 28px;
  background-color: aqua;
  &__block {
    display: flex;
    flex-direction: column;
    margin-left: 53px;
    margin-top: 504px;
    gap: 12px;
  }
  &__title {
    @include fontDescription;
    font-size: 20px;
    color: $colorLight;
  }
  &__name {
    @include fontH2;
    font-size: 28px;
    text-transform: uppercase;
    color: $colorLight;
  }
  &__inputs {
    display: flex;
    flex-direction: column;
    margin-left: 53px;
    &_row {
      display: flex;
      gap: 24px;
    }
  }
  &__btn {
    margin-bottom: 55px;
  }
}

input {
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 32px;
  &:focus {
    outline: none;
  }
}

.checkbox {
  margin-bottom: 12px;
}