@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';

.parallax {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;

  .layer1,
  .layer2,
  .layer3,
  .layer4 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    transition: transform 1s ease;
  }

  .layer1 {
    background-image: url('../../../assets/images/parallax/layer1.jpg');
  }

  .layer2 {
    background-image: url('../../../assets/images/parallax/layer2.png');
  }

  .layer3 {
    background-image: url('../../../assets/images/parallax/layer3.png');
  }

  .layer4 {
    background-image: url('../../../assets/images/parallax/layer4.png');
  }

  &:hover .layer2 {
    transform: translate(1%, 1%);
  }

  &:hover .layer3 {
    transform: translate(1%, 1%);
  }

  &:hover .layer4 {
    transform: translate(2%, 2%);
  }

  .order {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 28px;
    width: 547px;
    height: 497px;
    padding: 40px;
    top: 381px;
    left: 80px;
    background: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px); /* Размытие */
    -webkit-backdrop-filter: blur(15px);
    &__block {
      display: flex;
      flex-direction: column;
      gap: 28px;
    }
    &__title {
      @include fontDescription;
      font-size: 25px;
      color: white;
    }
    &__name {
      @include fontH1;
      font-size: 35px;
      text-transform: uppercase;
      color: white;
    }
    &__inputs {
      display: flex;
      flex-direction: column;
      &_row {
        display: flex;
        gap: 12px;
      }
    }
  }

  input {
    border: none;
    border-bottom: 0.5px solid white;
    margin-bottom: 30px; 
    background-color: transparent;
    color: white;
    &:focus {
      outline: none;
    }
    &::placeholder {
      color: white;
      font-size: 100%;
    }
  }

  .checkbox {
    margin-bottom: 20px; 
  }
}

.submittedMessage {
  @include fontH3;
  text-transform: uppercase;
  width: 553px;
  height: 279px;
  top: 332px;
  left: 444px;
}

// Добавленные стили для модального окна
.modal {
  position: fixed;
  top: 40%;
  left: 35%;
  // transform: translate(-50%, -50%);
  background-color: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(15px); /* Размытие */
  -webkit-backdrop-filter: blur(15px);
  width: 553px;
  height: 297px;
  border-radius: 10px;
  padding: 20px 40px;
  &__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 40px;
  }
  &__title {
    @include fontH3;
    color: $colorWhite;
    text-transform: uppercase;
    text-align: center;
  }
  &__text {
    @include fontText;
    color: $colorWhite;
    text-align: center;
  }
  &__moto {
    @include fontH6;
    color: $colorWhite;
    text-transform: uppercase;
    text-align: center;
  }
  &__img {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 40px;
    padding: 0 10px;
  }
}

.errorModal {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; // Убедитесь, что модальное окно находится поверх других элементов
}

.errorModal__title {
  padding-top: 20px;
  @include fontTextMenu;
  font-size: 14px;
  color: rgba(236, 12, 12, 1);
}