@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';

.countrieslist {
  max-width: 100%; /* адаптивная ширина */
  min-height: 719px; /* минимальная высота для содержимого */
  box-sizing: border-box;
  display: flex;
}

.text {
  width: 327px;
  height: 283px;
  margin-left: 80px;
  margin-top: 100px;
  box-sizing: border-box;
}

.title {
  @include fontH2;
  box-sizing: border-box;
}

.name {
  @include fontH1;
  box-sizing: border-box;
}

.highlight {
  color: #ff4500; /* Цвет выделенного текста */
  box-sizing: border-box;
}

.description {
  // margin-top: 29px; /* отступ сверху от родительского блока */
  // margin-left: 763px; /* отступ слева от родительского блока */
  // word-wrap: break-word; /* или overflow-wrap: break-word; */
  // max-width: 50%; /* ограничиваем максимальную ширину блока */
  @include fontDescription;
  box-sizing: border-box;
}

.Cards {
  display: flex; /* Устанавливаем flex-контейнер */
  flex-wrap: wrap; /* Разрешаем перенос элементов на новую строку */
  justify-content: flex-start; /* Располагаем элементы в начале контейнера */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
  padding: 100px 0 100px 100px;
  // width: 924px;
  // height: 510px;
  gap: 56px;
  box-sizing: border-box;
}