@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';

.countrieslist {
  display: flex;
  flex-wrap: wrap;
  padding: 100px 79px;
  box-sizing: border-box;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; /* Равномерно распределяет элементы по строке */
  gap: 58px;
  box-sizing: border-box;
}
