@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';

.container {
  padding: 100px 80px;
  display: flex;
  justify-content: center;
}

.amazing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
  }
  &__text {
    @include fontDescription;
    color: $colorDark;
    padding-bottom: 16px;
  }
  &__name {
    @include fontH22;
    color: $colorDark;
  }
  &__photo {
    display: flex;
    flex-direction: row;
    gap: 36px;
  }
  &__poster {

  }
  &__block {
    width: 634px;
    height: 556px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 36px;
    & img {

    }
  }
}