.travels {
  max-width: 100%; /* адаптивная ширина */
  min-height: 1076px; /* минимальная высота для содержимого */
  padding: 100px 128px;
  box-sizing: border-box;
  // background-color: #FAF7F3;
  display: flex;
  flex-direction: column;
}

.text {
  max-width: 520px;
  // max-height: 123px;
  box-sizing: border-box;
  color: #464E4D;
}

.title {
  font-family: 'TitleFont', sans-serif;
  box-sizing: border-box;
}

.name {
  font-family: 'NameFont', sans-serif;
  box-sizing: border-box;
}

.highlight {
  color: #BA7F49; /* Цвет выделенного текста */
  box-sizing: border-box;
}

// .description {
//   font-family: 'DescriptionFont', sans-serif;
//   box-sizing: border-box;
// }

.Cards {
  display: flex; /* Устанавливаем flex-контейнер */
  flex-wrap: nowrap; /* Запрещаем перенос элементов на новую строку */
  justify-content: flex-start; /* Располагаем элементы в начале контейнера */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
  gap: 150px;
  box-sizing: border-box;
}
