@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';

.container {
  display: flex;
  justify-content: center;
}

.travels {
  max-width: 100%;
  padding: 100px 80px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.text {
  max-width: 520px;
  box-sizing: border-box;
  color: #464E4D;

  .title {
    @include fontDescription;
    box-sizing: border-box;
    margin-bottom: 16px;
  }

  .name {
    @include fontH1;
    box-sizing: border-box;
    margin-bottom: 40px;

    .highlight {
      @include fontH1;
      color: $colorBold;
      box-sizing: border-box;
      transition: font-weight 0.5s ease;
    }

    .highlight:hover {
      font-weight: bold;
    }
  }
}

.cards {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 80px;
  box-sizing: border-box;
}

.card {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.slideInUp {
  animation: slideInUp 1s ease forwards; /* Увеличиваем время анимации до 1 секунды */
}

@keyframes slideInUp {
  from {
    opacity: 0;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}