@use '../../assets/styles/styles.scss' as *;
@import '../../assets/styles/variables.scss';

.header {
  padding: 56px 82px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: aquamarine;
}

.colorBlack {
  color: black;
  border: 1px solid black;
  &:hover {
    background-color: grey;
    color: white;
  }
}