@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';

.navbar {
  display: flex;
  justify-content: space-around;
  gap: 5px;
  &__block {
    display: flex;
    gap: 5px;
  }
}

.link__nav {
  @include fontText;
  text-decoration: none;
  color: $colorWhite;
}