@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';

.navbar {
  display: flex;
  justify-content: space-around;
  gap: 20px;
  &__block {
    display: flex;
    align-items: center;
    gap: 20px;
  }
}

.link__nav {
  @include fontTextMenu;
  text-transform: uppercase;
  text-decoration: none;
  cursor: pointer;
  color: $colorDark;
}