.component {
  // position: relative;
  border: 1px solid black;
  box-sizing: border-box;
  width: 326px;
  height: 510px;
  cursor: pointer;
}

.dir {
  transition: transform 0.4s ease-in-out; // плавное изменение масштаба и переворачивания
  &:hover {
    transform: scale(1.2) rotateX(360deg); // добавляем переворот по оси Y при наведении
  }
}

.imp {
  // здесь будет анимация
}

.tr {
  // здесь будет анимация
}

.info {
  // position: relative;
  // z-index: 10;
  &__title {
    text-align: start;
    margin-bottom: 40px;
    &_imp {

    }
  }
  &__offer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  &__date {

  }
  &__direction {

  }
  &__travel {

  }
  &__moto {
    
  }
}