@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';

.component {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.size {
  width: 326px;
  height: 510px;
  &__countries {
    width: 388px;
    height: 548px;
  }
}
.small {
  width: 299px;
  height: 360px;
}

.dir {
  transition: transform 0.4s ease-in-out; // плавное изменение масштаба и переворачивания
  &:hover {
    transform: scale(1.2) rotateX(360deg); // добавляем переворот по оси Y при наведении
  }
}

.shd {
  position: relative;
}

// .shd::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 100%;
//   background-color: rgba(0, 0, 0, 0.7); /* Задаем цвет затемнения */
//   opacity: 0; /* Начальная прозрачность */
//   transition: opacity 0.4s ease-in-out; /* Плавное изменение прозрачности */
// }

// .shd:hover::before {
//   opacity: 0.7; /* При наведении делаем псевдоэлемент полупрозрачным */
// }

.shd::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0; /* Позиционируем псевдоэлемент внизу родительского элемента */
  width: 100%;
  height: 0; /* Начальная высота 0 */
  background-color: rgba(0, 0, 0, 0.6); /* Задаем цвет затемнения */
  transition: height 0.4s ease-in-out; /* Плавное изменение высоты */
}

.shd:hover::before {
  height: 100%; /* При наведении увеличиваем высоту до 100% */
}

.shd:hover .info__description {
  opacity: 1; /* Показываем текст при наведении */
}

.imp {
  // здесь будет анимация
}

.tr {
  // здесь будет анимация
}

.str {
  position: relative;
}

.str::before,
.str::after {
  content: "";
  position: absolute;
  top: 0;
  height: 100%;
  width: 0;
  background-color: rgba(0, 0, 0, 0.6); /* Цвет затемнения */
  transition: width 0.4s ease-in-out; /* Плавное изменение ширины */
}

.str::before {
  left: 0; /* Первая полоса от левой границы */
}

.str::after {
  right: 0; /* Вторая полоса от правой границы */
}

.str:hover::before {
  width: 50%; /* Увеличение ширины до 50% при наведении */
}

.str:hover::after {
  width: 50%; /* Увеличение ширины до 50% при наведении */
}

.str:hover .info__moto {
  opacity: 1;
}

.info {
  position: absolute;
  top: 1%;
  left: 1%;
  &__title {
    text-align: start;
    padding: 20px 0 60px 20px;
    margin-bottom: 40px;
    @include fontDescription;
    color: $colorWhite;
    &_tr {
      @include fontText;
      color: $colorWhite;
      padding: 20px 0 5px 15px;
    }
    &_imp {
      @include fontH3;
      color: $colorWhite;
      padding: 20px 0 0 20px;
      text-transform: uppercase;
    }
    &_text {
      @include fontH3;
      color: $colorWhite;
      padding-left: 20px;
      text-transform: uppercase;
    }
  }
  &__offer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0 0 0 20px;
  }
  &__date {
    @include fontText;
    color: $colorWhite;
  }
  &__direction {
    @include fontH2;
    color: $colorWhite;
    text-transform: uppercase;
  }
  &__travel {
    &_tr {
      @include fontH4;
      color: $colorWhite;
      padding-left: 15px;
    }
  }
  &__imp {
    max-width: 220px;
  }
  &__moto {
    //display: none; /* По умолчанию скрываем блок с текстом moto */
    @include fontH4;
    color: $colorLight;
    margin-top: 150px;
    margin-left: 60px;
    margin-right: 30px;
    font-size: 1.0em;
    transition: opacity 0.6s ease-in-out; /* Плавное появление текста */
    opacity: 0; /* Начальная прозрачность */
  }
  &__price {
    //display: none; /* По умолчанию скрываем блок с текстом moto */
    @include fontH4;
    color: $colorLight;
    margin-top: 350px;
    margin-left: 160px;
    margin-right: 30px;
    font-size: 1.0em;
    transition: opacity 0.6s ease-in-out; /* Плавное появление текста */
    opacity: 1; /* Начальная прозрачность */
  }
  &__countriesList {
    display: flex;
    flex-direction: column;
  }
  &__text_h1 {
    @include fontH1;
    color: $colorLight;
    margin-top: 60px;
    margin-left: 30px;
  }
  &__text_h3 {
    @include fontH3;
    color: $colorLight;
    margin-top: 30px;
    margin-left: 30px;
  }
  &__description {
    @include fontH4;
    color: $colorLight;
    margin-top: 30px;
    margin-left: 30px;
    margin-right: 30px;
    font-size: 1.0em;
    transition: opacity 0.4s ease-in-out; /* Плавное появление текста */
    opacity: 0; /* Начальная прозрачность */
  }
  &__adv {
    padding: 250px 0 0 20px;
    @include fontH3;
    color: $colorWhite;
    text-transform: uppercase;
  }
}

// .imp {
//   width: 220px;
// }
