@use '../../../assets/styles/styles.scss' as *;
@import '../../../assets/styles/variables.scss';

.component {
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  display: inline-block;
}

.size {
  width: 326px;
  height: 510px;
}
.small {
  width: 299px;
  height: 360px;
}

.dir {
  transition: transform 0.4s ease-in-out; // плавное изменение масштаба и переворачивания
  &:hover {
    transform: scale(1.2) rotateX(360deg); // добавляем переворот по оси Y при наведении
  }
}

.imp {
  // здесь будет анимация
}

.tr {
  // здесь будет анимация
}

.info {
  position: absolute;
  top: 1%;
  left: 1%;
  &__title {
    text-align: start;
    padding: 20px 0 60px 20px;
    margin-bottom: 40px;
    @include fontDescription;
    color: $colorWhite;
    &_tr {
      @include fontText;
      color: $colorWhite;
      padding: 20px 0 5px 15px;
    }
    &_imp {
      @include fontH3;
      color: $colorWhite;
      padding: 20px 0 0 20px;
      text-transform: uppercase;
    }
    &_text {
      @include fontH3;
      color: $colorWhite;
      padding-left: 20px;
      text-transform: uppercase;
    }
  }
  &__offer {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
    padding: 0 0 0 20px;
  }
  &__date {
    @include fontText;
    color: $colorWhite;
  }
  &__direction {
    @include fontH2;
    color: $colorWhite;
    text-transform: uppercase;
  }
  &__travel {
    &_tr {
      @include fontH4;
      color: $colorWhite;
      padding-left: 15px;
    }
  }
  &__imp {
    max-width: 220px;
  }
  &__moto {
    
  }
  &__countriesList {
    display: flex;
    flex-direction: column;
  }
  &__text_h1 {
    @include fontH1;
    color: $colorLight;
    margin-top: 60px;
    margin-left: 30px;
  }
  &__text_h3 {
    @include fontH3;
    color: $colorLight;
    margin-top: 30px;
    margin-left: 30px;
  }
  &__adv {
    padding: 250px 0 0 20px;
    @include fontH3;
    color: $colorWhite;
    text-transform: uppercase;
  }
}

// .imp {
//   width: 220px;
// }
