@import './fonts.scss';

//colors
$colorWhite: #ffffff;
$colorLight: #FAF7F3;
$colorMedium: #B29C89;
$colorBold: #BA7F49;
$colorGrey: #464E4D;

//sizes
$sizeContainerLarge: 1920px;
$sizeContainer: 1372px;
$sizeExtraLarge: 1200px;
$sizeLarge: 950px;
$sizeMedium: 650px;
$sizeSmall: 576px;

@mixin fontStyle($size: 16px, $weight: 400, $height: normal) {
	font-size: $size;
	font-weight: $weight;
	line-height: $height;
}

@mixin fontAGTms() {
	font-family: 'AGTmsCyrillic', 'HubotExpanded', 'Hubot', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin fontMontserrat() {
	font-family: 'Montserrat', Tahoma, Geneva, Verdana, sans-serif;
}

@mixin fontH1() {
	@include fontAGTms();
	@include fontStyle(40, 400, 104%);
	letter-spacing: 2%;
}

@mixin fontH2() {
	@include fontAGTms();
	@include fontStyle(28, 400, 104%);
	letter-spacing: 2%;
}

@mixin fontH3() {
	@include fontAGTms();
	@include fontStyle(16, 400, 120%);
	letter-spacing: 2%;
}

@mixin fontH4() {
	@include fontMontserrat();
	@include fontStyle(20, 500, 120%);
	letter-spacing: -0.02em;
}

@mixin fontPrice() {
	@include fontMontserrat();
	@include fontStyle(28, 500, 130%);
	letter-spacing: 2%;
}

@mixin fontText() {
	@include fontMontserrat();
	@include fontStyle(16, 400, 130%);
	letter-spacing: 0%;
}

@mixin fontDescription() {
	@include fontMontserrat();
	@include fontStyle(20, 400, 120%);
	letter-spacing: -0.02em;
}

@mixin fontInput() {
	@include fontMontserrat();
	@include fontStyle(20, 300, 130%);
	letter-spacing: -0.03em;
}

@mixin width-height($width, $height: $width) {
	width: $width;
	height: $height;
}

@mixin flex-grid($display, $direction, $justify, $align) {
	display: $display;
	flex-direction: $direction;
	justify-content: $justify;
	align-items: $align;
}
