.directions {
  max-width: 100%; /* адаптивная ширина */
  min-height: 719px; /* минимальная высота для содержимого */
  // padding: 100px 79px;
  box-sizing: border-box;
  background-color: #FAF7F3;
  display: flex;
}

.text {
  width: 327px;
  height: 283px;
  margin-left: 80px;
  margin-top: 100px;
  box-sizing: border-box;
}

.title {
  font-family: 'TitleFont', sans-serif;
  box-sizing: border-box;
}

.name {
  font-family: 'NameFont', sans-serif;
  box-sizing: border-box;
}

.highlight {
  color: #ff4500; /* Цвет выделенного текста */
  box-sizing: border-box;
}

.description {
  // margin-top: 29px; /* отступ сверху от родительского блока */
  // margin-left: 763px; /* отступ слева от родительского блока */
  font-family: 'DescriptionFont', sans-serif;
  // word-wrap: break-word; /* или overflow-wrap: break-word; */
  // max-width: 50%; /* ограничиваем максимальную ширину блока */
  box-sizing: border-box;
}

.Cards {
  display: flex; /* Устанавливаем flex-контейнер */
  flex-wrap: nowrap; /* Запрещаем перенос элементов на новую строку */
  justify-content: flex-start; /* Располагаем элементы в начале контейнера */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
  padding: 100px 0 100px 100px;
  // width: 924px;
  // height: 510px;
  gap: 28px;
  box-sizing: border-box;
  gap: 28px;
}

.applyButton {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  margin-left: 323px;
  margin-top: 39px;
  font-family: 'ButtonFont', sans-serif;
  box-sizing: border-box;
  border-radius: 50%; // делаем кнопку круглой
  width: 40px; // задаем фиксированную ширину
  height: 40px; // задаем фиксированную высоту
  display: flex;
  align-items: center;
  justify-content: center;
}

.applyButton:hover {
  background-color: grey;
  color: white;
}

.applyButton::before {
  content: "←"; // символ стрелки влево
  font-size: 24px;
}